<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='perfil.css')}}">
    <script src="https://kit.fontawesome.com/f98b44af14.js" crossorigin="anonymous"></script>
    <title>Perfil de Usuario</title>
</head>
<body>
    <header>
      <h2>LunArt Beauty - Perfil de Usuario</h2>
        <nav class="fondo">
            <ul>

              
                <li><a href="{{ url_for('menu.ruta_inicio') }}">INICIO</a></li>
                <li><a href="{{ url_for('menu.ruta_contacto') }}">CONTACTO</a></li>
            </ul>
        </nav>
    </header>  
    
    <div class="main-container">
        <aside class="sidebar">
            <ul>
                
                <li><a href="{{ url_for('usuario.logout') }}">Cerrar sesión</a></li>
            </ul>
        </aside>
    </div>

    <h1>LISTA DE CLIENTES</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Celular</th>
            <th>Correo</th>
            <th>Fecha de Nacimiento</th>
            <th>Acciones</th>
        </tr>
        {% for usuario in data %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apellido }}</td>
                <td>{{ usuario.celular }}</td>
                <td>{{ usuario.correo }}</td>
                <td>{{ usuario.fecha_nacimiento }}</td>
                <td>
                    <a class="btn-edit" href="{{ url_for('usuario.edit', id=usuario.id) }}">Editar</a>
                    <a class="btn-delete" href="{{ url_for('usuario.delete', id=usuario.id) }}">Eliminar</a>

                </td>
            </tr>
        {% endfor %}
    </table>
    
</body>
</html>
