<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='productos.css') }}">
    <script src="https://kit.fontawesome.com/f98b44af14.js" crossorigin="anonymous"></script>
    <title>Esmaltes</title>
</head>
<body>

    
    <header class="header">
        <div class="container">
            <div class="Logo">
                <h2>Glamur</h2>
            </div>

            <nav class="menu">
                <a href="{{ url_for('menu.ruta_inicio') }}">INICIO</a>
                <a href="{{ url_for('servicio.index_admin') }}">SERVICIOS</a>
                <a href="{{ url_for('menu.ruta_carrito') }}"><i class="fa-solid fa-cart-shopping fa-lg" style="color: #050505;"></i></a>
                <a href="{{ url_for('menu.ruta_catalogo') }}"><i class="fa-solid fa-house"></i></a>
                
            </nav>


    </header>

    <div class="header-content container">
        
        <div class="header-txt">
            <h1>ACEITES</h1>
            
        </div>

    </div>  

    
<section class="menu-pl container">
    <main class="general-content">
        <div class="general-txt">
            <img class="img-1" src="{{ url_for('static', filename='img/39.jpg') }}" alt="shampos">

            <p>
                <h3>Aceite Argan</h3>
                <h3>$7000</h3>
            </p>
            <div class="prices">
                <button onclick="agregarAlCarrito(' Aceite Argan', 7000)">Agregar</button>

            </div>

        </div>

        <div class="general-txt">
            <img class="img-1" src="{{ url_for('static', filename='img/41.jpg') }}" alt="shampos">

            <p>
                <h3> Aceite Terracotta</h3>
                <h3>$9000</h3>
            </p>
            <div class="prices">
                
                <button onclick="agregarAlCarrito(' Aceite Terracotta', 10000)">Agregar</button>


            </div>
        </div>


        <div class="general-txt">
            <img class="img-1" src="{{ url_for('static', filename='img/42.png') }}" alt="shampos">
            <p>
                <h3>Aceite Jhnson</h3>
                <h3>$8000</h3>
            </p>
            <div class="prices">
                <button onclick="agregarAlCarrito('Aceite Jhnson', 8000)">Agregar</button>

            </div>
        </div>





        <div class="general-txt">
            <img class="img-1" src="{{ url_for('static', filename='img/43.jpg') }}" alt="shampos">

            <p>
                <h3>Aceite Eucalipto</h3>
                <h3>$5000</h3>
            </p>
            <div class="prices">
                
                <button onclick="agregarAlCarrito('Aceite Eucalipto', 5000)">Agregar</button>


            </div>
        </div>


        <div class="general-txt">
            <img class="img-1" src="{{ url_for('static', filename='img/44.jpg') }}" alt="shampos">

            <p>
                <h3>Aceite Ricino</h3>
                <h3>$8000</h3>
            </p>
            <div class="prices">
                
                <button onclick="agregarAlCarrito('Aceite Ricino', 8000)">Agregar</button>          

            </div>
        </div>


        <div class="general-txt">
            <img class="img-1" src="{{ url_for('static', filename='img/45.jpg') }}" alt="shampos">
            <p>
                <h3>Aceite Aguacate</h3>
                <h3>$15000</h3>
            </p>
            <div class="prices">
                <button onclick="agregarAlCarrito('Aceite Aguacate', 15000)">Agregar</button>

            </div>  
        </div>
        
    
    </main>
        
</section>

<script>
    function agregarAlCarrito(nombre, precio) {
        const carrito = JSON.parse(localStorage.getItem('carrito')) || [];
        carrito.push({ nombre: nombre, precio: precio });
        localStorage.setItem('carrito', JSON.stringify(carrito));
        alert(`${nombre} ha sido agregado al carrito`);
    }
</script>



</body>
</html>