<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
    <script src="https://kit.fontawesome.com/f98b44af14.js" crossorigin="anonymous"></script>
    <title>Catalogo</title>
</head>
<body>

    
    <header class="header">
        <div class="container">
            <div class="Logo">
                <h2>LunArt Beauty</h2>
            </div>

            <nav class="menu">
                <a href="{{ url_for('menu.ruta_inicio') }}">INICIO</a>
                <a href="{{ url_for('menu.ruta_servicios') }}">SERVICIOS</a>
                
            </nav>
        </div>  


    </header>

    <div class="header-content container">
        
        <div class="header-txt">
            <h1>CATALOGO</h1>
            
        </div>

    </div>  

    
<section class="menu-pl container">
    <div class="general-content">
        <div class="general-txt">
            <img class="img-1" src="{{ url_for('static', filename='img/5.jpg') }}" alt="shampos">

            <h3>ESMALTES</h3>
            <p>
                Añade un toque de color a tus uñas con nuestra línea de esmaltes de alta calidad.
                 Con una amplia gama de tonos, nuestros esmaltes ofrecen un acabado duradero y vibrante, 
                 perfecto para cualquier ocasión.
            </p>
            <div class="prices">
                
                <a href="{{ url_for('menu.ruta_esmaltes') }}" class="btn-2">Mas productos</a>

            </div>

        </div>

        <div class="general-txt">
            <img class="img-1" src="{{ url_for('static', filename='img/55.jpg') }}" alt="shampos">

            <h3>ACEITES</h3>
            <p>
                Descubre los beneficios de nuestros aceites esenciales y de tratamiento, formulados para nutrir y revitalizar tu cabello y piel. 
                Cada gota está llena de ingredientes naturales que promueven la salud y el brillo.
            </p>
            <div class="prices">
                
                <a href="{{ url_for('menu.ruta_aceites') }}" class="btn-2">Mas productos</a>

            </div>
        </div>


        <div class="general-txt">
            <img class="img-1" src="{{ url_for('static', filename='img/11.jpg') }}" alt="shampos">
            <h3><table>TRATAMIENTOS</table></h3>
            <p>
                Cuida tu cabello con nuestros tratamientos intensivos que restauran, fortalecen y protegen. Ideal para cabellos dañados o secos, 
                estos productos están diseñados para ofrecer resultados visibles desde la primera aplicación.
            </p>
            </p>
            <div class="prices">
                <a href="{{ url_for('menu.ruta_tratamientos') }}" class="btn-2">Mas productos</a>
            </div>
        </div>

        <div class="general-txt">
            <img class="img-1" src="{{ url_for('static', filename='img/7.jpg') }}" alt="shampos">
            <h3>TINTES</h3>
            <p>
                Renueva tu look con nuestra gama de tintes, que ofrecen colores vibrantes y de larga duración. Ya sea que busques un cambio sutil o una transformación audaz,
                 nuestros tintes te ayudarán a lograr el estilo que deseas.
            </p>
            <div class="prices">
                <a href="{{ url_for('menu.ruta_tintes') }}" class="btn-2">Mas productos</a>

            </div>
        </div>




        <div class="general-txt">
            <img class="img-1" src="{{ url_for('static', filename='img/10.png') }}" alt="shampos">

            <h3>SHAMPOS</h3>
            <p>
                Mantén tu cabello limpio y fresco con nuestros shampoos especialmente formulados. Desde opciones hidratantes hasta soluciones específicas para el cuero cabelludo, 
                nuestros shampoos cubren todas las necesidades de cuidado capilar.
            </p>
            <div class="prices">
                <a href="{{ url_for('menu.ruta_shampos') }}" class="btn-2">Mas productos</a>

            </div>
        </div>


       

        <div class="general-txt">
            <img class="img-1" src="{{ url_for('static', filename='img/9.jpg') }}" alt="shampos">

            <h3>EXFOLIANTES</h3>
            <p>
                Mima tu piel con nuestros exfoliantes corporales, que eliminan suavemente las células muertas y revelan una piel suave y radiante.
                 Perfecto para incluir en tu rutina de cuidado semanal.
            </p>
            <div class="prices">
                <a href="{{ url_for('menu.ruta_exfoliante') }}"class="btn-2">Mas productos</a>

            </div>
        </div>


        
        


        

    </div>
</section>


</body>
</html>