<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='productos.css') }}">
    <script src="https://kit.fontawesome.com/f98b44af14.js" crossorigin="anonymous"></script>
    <title>shampos</title>
</head>
<body>

    
    <header class="header">
        <div class="container">
            <div class="Logo">
                <h2>Glamur</h2>
            </div>

            <nav class="menu">
                <a href="{{ url_for('menu.ruta_inicio') }}">INICIO</a>
                <a href="{{ url_for('servicio.index_admin') }}">SERVICIOS</a>
                <a href="{{ url_for('menu.ruta_carrito') }}"><i class="fa-solid fa-cart-shopping fa-lg" style="color: #050505;"></i></a>
                <a href="{{ url_for('menu.ruta_catalogo') }}"><i class="fa-solid fa-house"></i></a>
                
            </nav>


    </header>

    <div class="header-content container">
        
        <div class="header-txt">
            <h1>SHAMPOS</h1>
            
        </div>

    </div>  

    
<section class="menu-pl container">
    <div class="general-content">
        <div class="general-txt">
            <img class="img-1" src="{{ url_for('static', filename='img/50.png') }}" alt="shampos">

            <p>
                <h3>Lissia</h3>
                <h3>$25000</h3>
            </p>
            <div class="prices">
                
                <button onclick="agregarAlCarrito('Lissia', 25000)">Agregar</button>


            </div>

        </div>

        <div class="general-txt">
            <img class="img-1" src="{{ url_for('static', filename='img/47.jpg') }}" alt="shampos">

            <p>
                <h3>BaixoPoo</h3>
                <h3>$35000</h3>
            </p>
            <div class="prices">
                
                <button onclick="agregarAlCarrito('BaixoPoo', 35000)">Agregar</button>


            </div>
        </div>


        <div class="general-txt">
            <img class="img-1" src="{{ url_for('static', filename='img/51.jpg') }}" alt="shampos">

            <p>
                <h3>Redken</h3>
                <h3>$32000</h3>
            </p>
            <div class="prices">
                
                <button onclick="agregarAlCarrito('Redken', 32000)">Agregar</button>


            </div>
        </div>





        <div class="general-txt">
            <img class="img-1" src="{{ url_for('static', filename='img/48.jpg') }}" alt="shampos">

            <p>
                <h3>Argan  Oil</h3>
                <h3>$7500</h3>
            </p>
            <div class="prices">
                
                <button onclick="agregarAlCarrito('Masglo', 7500)">Agregar</button>


            </div>
        </div>


        <div class="general-txt">
            <img class="img-1" src="{{ url_for('static', filename='img/49.jpg') }}" alt="shampos">

            <p>
                <h3>Tohe</h3>
                <h3>$7500</h3>
            </p>
            <div class="prices">
                
                <button onclick="agregarAlCarrito('Masglo', 7500)">Agregar</button>


            </div>
        </div>


        <div class="general-txt">
            <img class="img-1" src="{{ url_for('static', filename='img/52.jpg') }}" alt="shampos">

            <p>
                <h3>Hairssime</h3>
                <h3>$26000</h3>
            </p>
            <div class="prices">
                
                <button onclick="agregarAlCarrito('Masglo', 7500)">Agregar</button>


            </div>
        </div>


        
</section>

<script>
    function agregarAlCarrito(nombre, precio) {
        const carrito = JSON.parse(localStorage.getItem('carrito')) || [];
        carrito.push({ nombre: nombre, precio: precio });
        localStorage.setItem('carrito', JSON.stringify(carrito));
        alert(`${nombre} ha sido agregado al carrito`);
    }
</script>


</body>
</html>