<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='productos.css') }}">
    <script src="https://kit.fontawesome.com/f98b44af14.js" crossorigin="anonymous"></script>
    <title>Esmaltes</title>
</head>
<body>

    
    <header class="header">
        <div class="container">
            <div class="Logo">
                <h2>Glamur</h2>
            </div>

            <nav class="menu">
                <a href="{{ url_for('menu.ruta_inicio') }}">INICIO</a>
                <a href="{{ url_for('servicio.index_admin') }}">SERVICIOS</a>
                <a href="{{ url_for('menu.ruta_carrito') }}"><i class="fa-solid fa-cart-shopping fa-lg" style="color: #050505;"></i></a>
                <a href="{{ url_for('menu.ruta_catalogo') }}"><i class="fa-solid fa-house"></i></a>

                
            </nav>


    </header>

    <div class="header-content container">
        
        <div class="header-txt">
            <h1>TRATAMIENTOS</h1>
            
        </div>

    </div>  

    
<section class="menu-pl container">
    <div class="general-content">
        <div class="general-txt">
            <img class="img-1" src="{{ url_for('static', filename='img/56.jpg') }}" alt="shampos">

            <p>
                <h3>Masglo</h3>
                <h3>$25000</h3>
            </p>
            <div class="prices">
                
                <button onclick="agregarAlCarrito('Lasting Pro', 1000)">Agregar</button>


            </div>

        </div>

        <div class="general-txt">
            <img class="img-1" src="{{ url_for('static', filename='img/53.jpg') }}" alt="shampos">

            <p>
                <h3>Bomba</h3>
                <h3>$20000</h3>
            </p>
            <div class="prices">
                
                <button onclick="agregarAlCarrito('Bomba', 20000)">Agregar</button>


            </div>
        </div>


        <div class="general-txt">
            <img class="img-1" src="{{ url_for('static', filename='img/54.jpg') }}" alt="shampos">

            <p>
                <h3>Masglo</h3>
                <h3>$1000</h3>
            </p>
            <div class="prices">
                
                <button onclick="agregarAlCarrito('Lasting Pro', 1000)">Agregar</button>


            </div>
        </div>





        <div class="general-txt">
            <img class="img-1" src="{{ url_for('static', filename='img/60.jpg') }}" alt="shampos">

            <p>
                <h3>Masglo</h3>
                <h3>$22000</h3>
            </p>
            <div class="prices">
                
                <button onclick="agregarAlCarrito('Lasting Pro', 1000)">Agregar</button>


            </div>
        </div>


        <div class="general-txt">
            <img class="img-1" src="{{ url_for('static', filename='img/59.jpg') }}" alt="shampos">

            <p>
                <h3>Masglo</h3>
                <h3>$28000</h3>
            </p>
            <div class="prices">
                
                <button onclick="agregarAlCarrito('Lasting Pro', 1000)">Agregar</button>


            </div>
        </div>


        <div class="general-txt">
            <img class="img-1" src="{{ url_for('static', filename='img/58.jpg') }}" alt="shampos">

            <p>
                <h3>Masglo</h3>
                <h3>$30000</h3>
            </p>
            <div class="prices">
                
                <button onclick="agregarAlCarrito('Lasting Pro', 1000)">Agregar</button>


            </div>
        </div>


        
</section>

<script>
    function agregarAlCarrito(nombre, precio) {
        const carrito = JSON.parse(localStorage.getItem('carrito')) || [];
        carrito.push({ nombre: nombre, precio: precio });
        localStorage.setItem('carrito', JSON.stringify(carrito));
        alert(`${nombre} ha sido agregado al carrito`);
    }
</script>


</body>
</html>