<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='principal.css')}}">
    <title>Document</title>
</head>
<body>
    <header>
        <h2>LunArt Beauty</h2>
          <nav class="fondo">
            <ul>
                <li><a href="{{ url_for('menu.ruta_inicio') }}">INICIO</a></li>
            </ul>
        </nav>
    </header>
    <div class="main-container"> 
        <aside class="sidebar">
            <ul>
                <li><a href="{{ url_for('estilistas.index') }}">ESTILISTAS</a></li>
                <li><a href="#">PRODUCTOS</a></li>
                <li><a href="{{ url_for('menu.ruta_perfil') }}">NOTIFICACIONES STOCK</a></li>
                <li><a href="{{ url_for('menu.ruta_perfil') }}">CITAS</a></li>
                <li><a href="{{ url_for('servicio.index') }}">SERVICIOS</a></li>
            </ul>
        </aside>
    </div>
    <div>
        <h1>AGREGAR SERVICIOS</h1>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash flash-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <div>
        <form action="{{ url_for('servicio.add') }}" method="post">
            <label class="label" for="nombre">Nombre:</label>
            <input class="input" type="text" id="nombre" name="nombre" required>
            <label class="label" for="precio">Precio:</label>
            <input class="input" type="text" id="precio" name="precio" required>
            
            <div class="link-container">
                <button class="styled-link" type="submit">Agregar</button>
            </div>
        </form>
    </div>
</body>