<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='perfil.css')}}">
    <script src="https://kit.fontawesome.com/f98b44af14.js" crossorigin="anonymous"></script>
    <title>Agregar Estilistas - LunArt Beauty</title>
</head>
<body>
    <div class="main-container">
        <!-- Sidebar -->
        <aside class="sidebar">
            <div class="profile">
                <h3>LunArt Beauty</h3>
                <div class="form-group">
                    <img class="img-1" src="{{ url_for('static', filename='img/usuario.png') }}" alt="usuario">
                </div>
            </div>
            <ul>

                <li>
                    <a href="#">
                        <img class="icon" src="{{ url_for('static', filename='img/orden.png') }}" alt="Inicio">

                        PRODUCTOS
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('menu.ruta_perfil') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/notificaciones.png') }}" alt="Notificaciones Stock">
                        NOTIFICACIONES STOCK
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('menu.ruta_perfil') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/calendario.png') }}" alt="Inicio">

                        CITAS
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('usuario.logout') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/cerrar.png') }}" alt="Cerrar Sesión">
                        CERRAR SESIÓN
                    </a>
                </li>
            </ul>
        </aside>

        <!-- Content -->
        <div class="content">
            <h1>AGREGAR ESTILISTAS</h1>
            
            <!-- Flash Messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for category, message in messages %}
                            <div class="flash flash-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            
            <!-- Form -->
            <form action="{{ url_for('estilistas.add') }}" method="post">
                <label class="label" for="nombre">Nombre y Apellido:</label>
                <input class="input" type="text" id="nombre" name="nombre" required>
                <label class="label" for="telefono">Telefono:</label>
                <input class="input" type="text" id="telefono" name="telefono" required>
                <label class="label" for="cargo">Cargo:</label>
                <select class="input" id="cargo" name="cargo" required>
                    <option value="" disabled selected>Selecciona el cargo</option>
                    <option value="Depilacion">Depilacion</option>
                    <option value="Tratamientos faciales">Tratamientos faciales</option>
                    <option value="Lifting Pestañas">Lifting de pestañas</option>
                    <option value="Manicurista">Masaje</option>
                    <option value="Cabello">Cabello</option>
                </select>
                <br>
                <div class="link-container">
                    <button class="styled-link" type="submit">Agregar</button>
                </div>
                <div class="link-container">
                    <a href="{{ url_for('estilistas.index') }}">
                        <img class="volver" src="{{ url_for('static', filename='img/volver.png') }}" alt="Volver">
                    </a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
