<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='principal.css')}}">
    <title>Document</title>
</head>
<body>
    <header>
        <h2>LunArt Beauty</h2>
          <nav class="fondo">
              <ul>
                  <li><a href="{{ url_for('usuario.admin_dashboard') }}">INICIO</a></li>
              </ul>
          </nav>
      </header>
      <div class="main-container"> 
        <aside class="sidebar">
            <ul>
                <li><a href="{{ url_for('menu.add_estilista') }}">ESTILISTAS</a></li>
                <li><a href="#">PRODUCTOS</a></li>
                <li><a href="{{ url_for('menu.ruta_perfil') }}">NOTOFICACIONES STOCK</a></li>
                <li><a href="{{ url_for('menu.ruta_perfil') }}">CITAS</a></li>
                
               
                
            </ul>
        </aside>
    </div>
    <div>
        <h1>AGREGAR ESTILISTAS</h1>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash flash-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <div>
        <form action="{{ url_for('estilistas.add') }}" method="post">
            <label class="label" for="nombre">Nombre y Apellido:</label>
            <input class="input" type="text" id="nombre" name="nombre" required>
            <label class="label" for="telefono">Telefono:</label>
            <input class="input" type="text" id="telefono" name="telefono" required>
            <label class="label" for="id_servicio">Cargo:</label>
            <select id="id_servicio" name="id_servicio" required>
                {% for servicio in data %}
                    <option value="{{ servicio.idservicio }}">{{ servicio.nombre }}</option>
                {% endfor %}
            </select>
            <br>
    <div class="link-container">
        <button class="styled-link1" type="submit">Agregar</button>
    </div>
        </form>
    </div>
</body>