<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
    <script src="https://kit.fontawesome.com/f98b44af14.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Header -->
    <header>
        <h2>LunArt Beauty</h2>
        <nav class="fondo">
            <ul>
                <li><a href="{{ url_for('menu.ruta_inicio') }}">INICIO</a></li>
                <li><a href="#">SERVICIOS</a></li>
                <li><a href="#">CATEGORÍAS</a></li>
                <li><a href="{{ url_for('menu.ruta_carrito') }}"><i class="fa-solid fa-cart-shopping fa-lg" style="color: #000000;"></i></a></li>
            </ul>
        </nav>
    </header>

    <!-- Header Content -->
    <div class="header-content container">
        <div class="header-txt">
            <h1>Productos</h1>
        </div>
    </div>

    <!-- Productos Section -->
    <section class="menu-pl container">
        <div class="general-content">
            {% for producto in data %}
            <div class="general-txt">
                <img class="img-1" src="{{ url_for('static', filename='uploads/' ~ producto.imagen) }}" alt="{{ producto.nombre }}" width="100">
                <h3>{{ producto.nombre }}</h3>
                <div class="prices">
                    <samp>Precio: {{ producto.precio }}</samp>
                </div>
                <div class="link-container">
                    <button class="styled-link" onclick="agregarAlCarrito('{{ producto.nombre }}', '{{ producto.precio }}')">Agregar</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <!-- JavaScript -->
    <script>
        function agregarAlCarrito(nombre, precio) {
            const carrito = JSON.parse(localStorage.getItem('carrito')) || [];
            carrito.push({ nombre: nombre, precio: precio });
            localStorage.setItem('carrito', JSON.stringify(carrito));
            alert(`${nombre} ha sido agregado al carrito`);
        }
    </script>
</body>
</html>
