<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <title>Editar </title>
</head>
<body>
    <h1>Editar</h1>
    <form action="{{ url_for('categoria.edit', id=categoria.idCategoria) }}" method="post" enctype="multipart/form-data">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" value="{{ categoria.nombre }}" required>
        <label for="descripcion">Descripción</label>
        <input type="text" id="descripcion" name="descripcion" value="{{ categoria.descripcion }}" required>

        <label for="imagen">Imagen</label>
        <input type="file" name="imagen" id="imagen" accept="image/*">

        <!-- Mostrar la imagen actual -->
        {% if categoria.imagen %}
            <img src="{{ url_for('static', filename='uploads/' ~ categoria.imagen) }}" alt="{{ categoria.nombre }}" width="100">
        {% endif %}

        <button type="submit">Actualizar</button>
    </form>
</body>
</html>
