<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='categoria.css') }}">
</head>
<body>
    <div class="main-container"></div>
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="profile">
                <h3>LunArt Beauty</h3>
                <div class="form-group">
                    <img class="img-1" src="{{ url_for('static', filename='img/estilistaa.png') }}" alt="usuario">
                </div>
            </div>
            <div class="campos">
            <ul>
              
                <li>
                    <a href="{{ url_for('categoria.add') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/orden.png') }}" alt="Inicio">

                        AGREGAR
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('menu.ruta_perfil') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/campana.png') }}" alt="Inicio">

                        NOTIFICACIONES STOCK
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('cita.index') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/calendario.png') }}" alt="Inicio">

                        CITAS
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('servicio.index_admin') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/servicio.png') }}" alt="Inicio">

                        SERVICIOS
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('usuario.lista_usuarios') }}">
                        <img class="icon" src="{{ url_for('static', filename='img/personas.png') }}" alt="Inicio">
                        LISTA CLIENTES
                    </a>
                </li>
            </ul>
            </div>
        </div>
    </div>
    <div class="tabla">
             <h1> CATEGORIAS </h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>                
                <th>Imagen</th>
                <th>Acciones</th>

            </tr>
            <tbody>
                {% for categoria in data %}
                <tr>
                    <td>{{ categoria.idCategoria }}</td>
                    <td>{{ categoria.nombre }}</td>
                    <td>{{ categoria.descripcion }}</td>               
                    <td>
                        <img src="{{ url_for('static', filename='uploads/' ~ categoria.imagen) }}" alt="{{ categoria.nombre }}" width="100">
                    </td>
                    <td>
                        <a class ="btn-edit" href="{{ url_for('categoria.edit', id=categoria.idCategoria) }}">Editar</a> 
                        <a  class= "btn-delete "href="{{ url_for('categoria.delete', id=categoria.idCategoria) }}">Eliminar</a>
                        
                    
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
       
        <a  href="{{ url_for('categoria.index_cliente') }}">VISTA CLIENTE</a>
    </div>
</body>
</html>
