<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='principal.css')}}">
    <script src="https://kit.fontawesome.com/f98b44af14.js" crossorigin="anonymous"></script>
    <title>Primera Vista</title>
</head>
<body>
    <header>
      <h2>LunArt Beauty</h2>
        <nav class="fondo">
            <ul>
                <li><a href="{{ url_for('menu.ruta_inicio') }}">INICIO</a></li>
            </ul>
        </nav>
        
    </header>  
    <div class"main-container"> 
        <aside class="sidebar">
            <ul>
                <li><a href="#">Agregar estilista</a></li>
                <li><a href="{{ url_for('menu.ruta_perfil') }}">Notificaciones de stock</a></li>
                <li><a href="{{ url_for('menu.ruta_perfil') }}">Lista de citas</a></li>
               
                
            </ul>
        </aside>

        <div class="content">
            <h1>Agregar Nuevo Estilista</h1>

            <form action="/add3" method="POST">
                <div class="form-group">
                    <label for="nombre">Nombre Completo</label>
                    <input type="text" id="nombre" name="nombre" placeholder="Ingresa el nombre completo" required>
                </div>
                
                <div class="form-group">
                    <label for="telefono">Teléfono</label>
                    <input type="tel" id="telefono" name="telefono" placeholder="Ingresa el número de teléfono" required>
                </div>
                
                <div class="form-group">
                    <label for="cargo">Cargo</label>
                    <select id="cargo" name="cargo" required>
                        <option value="" disabled selected>Selecciona el cargo</option>
                        <option value="Estilista Junior">Estilista Junior</option>
                        <option value="Estilista Senior">Estilista Senior</option>
                        <option value="Colorista">Colorista</option>
                        <option value="Manicurista">Manicurista</option>
                    </select>
                </div>
                
                <button type="submit" class="btn">Guardar Estilista</button>
            </form>
        </div>


    
   
</body>
</html>