<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='principal.css')}}">
    <script src="https://kit.fontawesome.com/f98b44af14.js" crossorigin="anonymous"></script>
    <title>Primera Vista</title>
</head>
<body>
    <header>
      <h2>LunArt Beauty</h2>
        <nav class="fondo">
            <ul>
                <li><a href="#">INICIO</a></li>
                <li><a href="{{ url_for('menu.ruta_contacto') }}">CONTACTO</a></li>
            </ul>
        </nav>
        
    </header>  
    <div> 
        <aside class="sidebar">
            <ul>
                <li><a href="#"><img class="icon1" src="static/imagenes/Verduras.png" alt="">Frutas y Verduras</a></li>
                <li><a href="#"><img class="icon1" src="static/imagenes/Lacteos.png" alt="">Lácteos y Huevos</a></li>
                <li><a href="#"><img class="icon1" src="static/imagenes/Carnes.png" alt="">Carnes</a></li>
                <li><a href="#"><img class="icon1" src="static/imagenes/Arroz.png" alt="">Arroz, granos y pastas</a></li>
                <li><a href="#"><img class="icon1" src="static/imagenes/Aceites.png" alt="">Aceites, sal y endulzantes</a></li>
                <li><a href="#"><img class="icon1" src="static/imagenes/Despensa.png" alt="">Despensa</a></li>
                <li><a href="#"><img class="icon1" src="static/imagenes/Bebidas.png" alt="">Bebidas</a></li>
                <li><a href="#"><img class="icon1" src="static/imagenes/Personal.png" alt="">Aseo Personal</a></li>
                <li><a href="#"><img class="icon1" src="static/imagenes/Hogar.png" alt="">Aseo del Hogar</a></li>
                <li><a href="#"><img class="icon1" src="static/imagenes/Mascotas.png" alt="">Mascotas</a></li>
                <li><a href="#"><img class="icon1" src="static/imagenes/Licores.png" alt="">Licores</a></li>
                <li><a href="#"><img class="icon1" src="static/imagenes/Sazonadores.png" alt="">Salsas y Sazonadores</a></li>
            </ul>
        </aside>
    </div>
    <div class="menu">
        <h1>Administrador</h1>
    </div>
   
</body>
</html>