<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='historial.css')}}">
    <title>Historial de Servicios - LunArt Beauty</title>
</head>
<body>
    <header>
      <h2>LunArt Beauty</h2>
        <nav class="fondo">
            <ul>
                <li><a href="#">INICIO</a></li>
                <li><a href="#">CONTACTO</a></li>
            </ul>
        </nav>
    </header>  

    <div class="main-container">
        <aside class="sidebar">
            <ul>
                <li><a href="{{ url_for('menu.ruta_perfil') }}">Actualizar Perfil</a></li>
                <li><a href="#">Historial</a></li>
                <li><a href="#">Configuraciones</a></li>
                <li><a href="#">Cerrar Sesión</a></li>
            </ul>
        </aside>

        <div class="content">
            <h1>Historial de Servicios</h1>
            <table class="historial-table">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Servicio</th>
                        <th>Estilista</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>12/09/2024</td>
                        <td>Corte de Cabello</td>
                        <td>Andrea</td>
                        <td>$20.00</td>
                    </tr>
                    <tr>
                        <td>05/09/2024</td>
                        <td>Manicura</td>
                        <td>Carla</td>
                        <td>$15.00</td>
                    </tr>
                    <tr>
                        <td>29/08/2024</td>
                        <td>Coloración</td>
                        <td>Sofía</td>
                        <td>$50.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
